/*Lot's of things added and changed here in my CSS.  Mainly added a lot of id and class selectors.  Added CSS for my navigation menu, and spent considerable amount of time editing my HTML and CSS when things didn't work right!*/
body {
    background-color: #690202;
    font-family: 'Arial', Times, serif, sans-serif;
    font-size: 100%;
    width: 100%;
}

header {
    padding-left: 3em;
}

main {
    color: #10f2a3;
    padding-left: 1.5em;
}

#logo {
    width: 20%;
    min-width: 125px;
    margin-top: 1em;
    padding-left: 12em;
}

footer {
    clear: both;
    padding-left: 3em;
    padding-top: 3em;
    font-size: 95%;
    color:#10f2a3;
}

.heading {
    clear: both;
    padding-top: 2em;
    padding-bottom: 1em;
}

.subheading {
    padding-bottom: .25em;
}

article {
    max-width: 750px;
    padding: .5em;
}

p {
    line-height: 1.5em;
}

.articlepic {
    float: right;
    width: 50%;
    padding: .5em;
}

#vg1-pic {
    max-height: 300px;
    width: auto;
}

#foley-gif {
    width: 40%;
}

img {
    clear: both;
    width: 50%;
    padding: .5em .5em .5em 0em
}

#psyche {
    margin-top: 1.5em;
    margin-bottom: 1em;
    font-size: 250%
}

#us {
    float: left;
    width: 25%;
    min-width: 250px;
    padding: 0em .75em .75em 0em;
}

#real-container {
    padding-left: .75em;
    padding-top: 2em;
    border-left: 2px dashed #10f2a3;
    overflow: auto;
}

#hobbies {
    clear: both;
    padding-top: 2em;
    padding-bottom: .25em;

}

h2,
ol,
ul,li {
    margin: 0;
    padding: 0;
}

ol, ul {
    list-style-position: inside;
}

ol li {
    padding-bottom: .75em;
}

ul li {
    padding-bottom: .75em;
}

#real {
    font-size: 200%;
    padding-bottom: .25em;    
}

a {
    font-weight: bolder;
}

.foley:link {
    color: #0000ff !important;
}

.foley:visited {
    color: #ff00d0 !important;
}

.foley:hover, #foley:focus {
    color: #228b22 !important;
    font-size: 105% !important; 
}

#nav_menu {
    padding-bottom: 1em;
    width: 40%;
}

#nav_menu ul {
    list-style-type: none;
}

#nav_menu ul li{
    float: left;
    width: 20%;
}

#nav_menu ul li a {
    text-align: center;
    display: block;
    padding: 1em 0em;
    text-decoration: none;
    background-color:#10f2a3;
    color:#da0707;
    font-weight: bold;
    box-shadow: 5px 5px 10px 5px #000000;
}
#nav_menu ul li a.current {
    background-color:#7bf8cc;
    color: #ff00d0;
}

#nav_menu ul li a:hover {
    background-color:#0a8e60;
    color:#930404;  
}

/*Added these media queries AFTER the 1159 deadline, plus did some minor proofreading edits, but hopefully I can still get that extra credit! :) */

@media only screen and (max-width: 2000px) {
   #logo {
    padding-left: 11em;
}
}

@media only screen and (max-width: 1900px) {
   #logo {
    padding-left: 10.5em;
}
}

@media only screen and (max-width: 1800px) {
   #logo {
    padding-left: 9.8em;
}
}

@media only screen and (max-width: 1700px) {
   #logo {
    padding-left: 9.5em;
}
}

@media only screen and (max-width: 1600px) {
   #logo {
    padding-left: 8.5em;
}
}

@media only screen and (max-width: 1500px) {
   #logo {
    padding-left: 7.9em;
}
}

@media only screen and (max-width: 1450px) {
    #nav_menu ul li{
    float: none;
    width: 100%;
}
  #logo {
    padding-left: 7em;
}
}

@media only screen and (max-width: 1300px) {
   #logo {
    padding-left: 6.3em;
}
}

@media only screen and (max-width: 1100px) {
   #logo {
    padding-left: 5.3em;
}
}

@media only screen and (max-width: 900px) {
   #logo {
    padding-left: 4em;
}
}

@media only screen and (max-width: 800px) {
   #real-container {
    border-left: none;
    padding-left: 0em;
}
    #us {
    float: none;
}
}

@media only screen and (max-width: 700px) {
   #logo {
    padding-left: 2.9em;
}
}

@media only screen and (max-width: 600px) {
   #logo {
    padding-left: 1.8em;
}
}

@media only screen and (max-width: 500px) {
   #logo {
    padding-left: .7em;
}
}

@media only screen and (max-width: 450px) {
   #logo {
    padding-left: 0em;
}
}