body {
    background-color: #690202;
    font-family: 'Arial', Times, serif, sans-serif;
    font-size: 100%;
    width: 100%;
}

header {
    padding-left: 3em;
}

main {
    color: #10f2a3;
    padding-left: 1.5em;
}

#logo {
    width: 20%;
    min-width: 125px;
    margin-top: 1em;
    padding-left: 12em;
}

footer {
    clear: both;
    padding-left: 3em;
    padding-top: 3em;
    font-size: 95%;
    color:#10f2a3;
}

.heading {
    clear: both;
    padding-top: 2em;
    padding-bottom: 1em;
}

.subheading {
    padding-bottom: .25em;
}

.intro-flex {
    display: flex;
    flex-direction: column;
    gap: 1em;                 
    padding: 1.5em;
    max-width: 600px;          
    margin-top: 1em;
    margin-bottom: 2em;
    grid-column: 1 / -1;
}

article {
    max-width: 750px;
    padding: .5em;
}

p {
    line-height: 1.5em;
}

#vg1-pic {
    max-height: 300px;
    width: auto;
}

#foley-gif {
    width: 40%;
}

img {
    clear: both;
    width: 50%;
    padding: .5em .5em .5em 0em
}

#psyche {
    margin-top: 1.5em;
    margin-bottom: 1em;
    font-size: 250%
}

#us {
    float: left;
    width: 25%;
    min-width: 250px;
    padding: 0em .75em .75em 0em;
}

#real-container {
    padding-left: .75em;
    padding-top: 2em;
    border-left: 2px dashed #10f2a3;
    overflow: auto;
}

#hobbies {
    clear: both;
    padding-top: 2em;
    padding-bottom: .25em;

}

h2,
ol,
ul,li {
    margin: 0;
    padding: 0;
}

ol, ul {
    list-style-position: inside;
}

ol li {
    padding-bottom: .75em;
}

ul li {
    padding-bottom: .75em;
}

#real {
    font-size: 200%;
    padding-bottom: .25em;    
}

a {
    font-weight: bolder;
}

.foley:link {
    color: #0000ff !important;
}

.foley:visited {
    color: #ff00d0 !important;
}

.foley:hover, #foley:focus {
    color: #228b22 !important;
    font-size: 105% !important; 
}

#nav_menu {
    padding-bottom: 1em;
    width: 40%;
}

/* Modified nav bar to be a flexbox */
#nav_menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;            
    justify-content: space-between;  
    align-items: center;
}

/* Added flexbox properties */
#nav_menu ul li {
    flex: 1;       
}


#nav_menu ul li a {
    text-align: center;
    display: block;
    padding: 1em 0em;
    text-decoration: none;
    background-color:#10f2a3;
    color:#da0707;
    font-weight: bold;
    box-shadow: 5px 5px 10px 5px #000000;
}
#nav_menu ul li a.current {
    background-color:#7bf8cc;
    color: #ff00d0;
}

#nav_menu ul li a:hover {
    background-color:#0a8e60;
    color:#930404;  
}

/* Begin new Grid Layout for Info Pages */

.article-grid {
    display: grid;
    grid-template-columns: 1fr minmax(auto, 800px) 1fr;
    gap: 2em;
    padding: 1.5em;
}

.article-grid > * {
    grid-column: 2;
}

.article-grid article {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.25em;
}

.article-grid .articlepic,
.article-grid img {
    width: 100%;
    height: auto;
    float: none;
    padding: 0;
}

.article-grid #nav_menu {
    width: 100%;
    grid-column: 2;
}

body.center-logo-page #logo {
    display: block;
    margin: 1em auto 0 auto;
    width: 20%;
    min-width: 125px;
    padding-left: 0;
}

/* End of new CSS for grid layout */

@media only screen and (max-width: 2000px) {
   #logo {
    padding-left: 11em;
}
}

@media only screen and (max-width: 1900px) {
   #logo {
    padding-left: 10.5em;
}
}

@media only screen and (max-width: 1800px) {
   #logo {
    padding-left: 9.8em;
}
}

@media only screen and (max-width: 1700px) {
   #logo {
    padding-left: 9.5em;
}
}

@media only screen and (max-width: 1600px) {
   #logo {
    padding-left: 8.5em;
}
}

/* This media query for the nav bar replaces what I originally had at 1450 px */

@media only screen and (max-width: 1430px) {
    #nav_menu ul {
        flex-direction: column;
        width: 100%;
    }
    #nav_menu ul li {
        flex: none;
        width: 100%;
    }
}

@media only screen and (max-width: 1500px) {
   #logo {
    padding-left: 7.9em;
}
}

@media only screen and (max-width: 1300px) {
   #logo {
    padding-left: 6.3em;
}
}

@media only screen and (max-width: 1100px) {
   #logo {
    padding-left: 5.3em;
}
}

@media only screen and (max-width: 900px) {
   #logo {
    padding-left: 4em;
}
}

@media only screen and (max-width: 800px) {
   #real-container {
    border-left: none;
    padding-left: 0em;
}
    #us {
    float: none;
}
}

@media only screen and (max-width: 700px) {
   #logo {
    padding-left: 2.9em;
}
}

@media only screen and (max-width: 600px) {
   #logo {
    padding-left: 1.8em;
}
}

@media only screen and (max-width: 500px) {
   #logo {
    padding-left: .7em;
}
}

@media only screen and (max-width: 450px) {
   #logo {
    padding-left: 0em;
}
}