body {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr auto 1fr;
    grid-gap: 1em;
    color: #00f5ff;
    background-image: linear-gradient(45deg, #ffffff 0%, #3710fe 100%);
    font-family: "Finger Paint", sans-serif;
}

header {
    grid-row: 1 / 2; grid-column: 1 / span 3;
    align-self: end;
}

#leftaside{
    display: grid;
    grid-row: 2 / 3; grid-column: 1 / span 4;
    align-self: start;
    place-items: center;
    border: 5px dashed #cf00f2;
    background-color: #00c9ff;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 8px 8px 8px 8px #007899;
}

#s1 {
    grid-row: 2 / 3; grid-column: 5 / span 4;
    align-self: start;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 5px dashed #00f5ff;
    background-color: #cf00f2;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 8px 8px 8px 8px #83009a;
}

#rightaside{
    display: grid;
    grid-row: 2 / 3; grid-column: 9 / span 4;
    align-self: start;
    place-items: center;
    border: 5px dashed #cf00f2;
    background-color: #00c9ff;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 8px 8px 8px 8px #007899;
}

footer {
    display: grid;
    grid-row: 3 / 4; grid-column: 1 / span 12;
    align-self: start;
    color: #cf00f2;
    border: 5px dashed #cf00f2;
    background-color: #00c9ff;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 8px 8px 8px 8px #007899;
}

#logo {
    max-width: 80%;
    height: auto;
}

.heading {
    font-size: 3em;
}

.subheading {
    font-size: 2em;
    padding-bottom: 1em;
}

a {
    font-weight: bolder;
}

.foley:link {
    color: #00ffaa !important;
}

.foley:visited {
    font-weight: normal !important;
    color: #ff0000 !important;
}

.foley:hover, #foley:focus {
    color: #c6b926 !important;
    font-size: 105% !important; 
}

.imgwrap {
    width: 80%;
    display: flex;
    justify-content: center;
    padding: 1em 0;
}

.imgclip img {
    border-radius: 8px;
    display: block;
    width: 100%;
    height: auto;
}

#leftaside img,
#rightaside img {
    width: 30%;
    height: auto;
    margin: 0 auto;
    display: block;
}
