body {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr 2fr auto 1fr;
    grid-gap: 1em;
    color: #00f5ff;
    background-image: linear-gradient(45deg, #ffffff 0%, #3710fe 100%);
    font-family: "Finger Paint", sans-serif;
}

header {
    grid-row: 1 / 2; grid-column: 1 / span 3;
    align-self: end;
}

nav {
    grid-row: 1 / 2; grid-column: 4 / span 9;
    align-self: end;
}

#leftaside{
    display: grid;
    grid-row: 2 / 3; grid-column: 1 / span 4;
    align-self: start;
    place-items: center;
    border: 5px dashed #cf00f2;
    background-color: #00c9ff;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 8px 8px 8px 8px #007899;
}

#s1 {
    grid-row: 2 / 3; grid-column: 5 / span 4;
    align-self: start;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 5px dashed #00f5ff;
    background-color: #cf00f2;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 8px 8px 8px 8px #83009a;
}

#rightaside{
    display: grid;
    grid-row: 2 / 3; grid-column: 9 / span 4;
    align-self: start;
    place-items: center;
    border: 5px dashed #cf00f2;
    background-color: #00c9ff;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 8px 8px 8px 8px #007899;
}

#s2 {
    grid-row: 3 / 4; grid-column: 1 / span 12;
    align-self: start;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 5px dashed #00f5ff;
    background-color: #cf00f2;
    border-radius: 10px;
    box-shadow: 8px 8px 8px 8px #83009a;
}

footer {
    display: grid;
    grid-row: 4 / 5; grid-column: 1 / span 12;
    align-self: start;
    color: #cf00f2;
    border: 5px dashed #cf00f2;
    background-color: #00c9ff;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 8px 8px 8px 8px #007899;
}

#logo {
    max-width: 80%;
    height: auto;
}

.imgwrap {
    width: 80%;
    display: flex;
    justify-content: center;
    padding: 1em 0;
}

.imgclip {
    border-radius: 8px;
    overflow: hidden;
    width: 100%;
}

.imgclip img {
    width: 100%;
    height: auto;
    display: block;
}

#s1 ul {
    list-style: none;
    counter-reset: item;
}

#s1 ul li {
    display: grid;
    grid-template-columns: 2ch auto;
    gap: 1.5em;
    width: max-content;
    text-align: left;
}

#s2 ul {
    list-style: none;
    counter-reset: item;
}

#s2 ul li {
    display: grid;
    grid-template-columns: 2ch auto;
    gap: 1.5em;
    width: max-content;
    text-align: left;
}

.heading {
    font-size: 3em;
    padding-top: .75em;
}

.subheading {
    font-size: 2em;
    padding-bottom: 1em;
}

#psyche {
    margin-top: 1.5em;
    margin-bottom: 1em;
    font-size: 4em;
}

a {
    font-weight: bolder;
}

.foley:link {
    color: #00ffaa !important;
}

.foley:visited {
    font-weight: normal !important;
    color: #ff0000 !important;
}

.foley:hover, #foley:focus {
    color: #c6b926 !important;
    font-size: 105% !important; 
}

#nav_menu {
    padding-bottom: 3em;
}

#nav_menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;            
    justify-content: space-between;  
    align-items: center;
    max-width: 90%;
}

#nav_menu ul li {
    flex: 1;       
}

#nav_menu ul li a {
    text-align: center;
    display: block;
    padding: 1em 0em;
    text-decoration: none;
    background-color:#00c9ff;
    color:#2C0FAA;
    font-weight: bold;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 5px 5px 10px 5px #000000;
}
#nav_menu ul li a.current {
    background-color:#00f5ff;
    color: #2c60aa;
}

#nav_menu ul li a:hover {
    background-color:#0083ff;
    color:#2C0F76;  
}